{% extends "base.html" %}

{% load staticfiles %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    C. Agrupados
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block navegacion %}
    | <a href="{% url "adc:homepage" %}"> Volver Al Inicio </a>
{% endblock %}

{% block contenido %}

    <div class="box">
        <form id="consulta_agrupados-form" action="{% url 'adc:resultados' %}" method="post">
            {% csrf_token %}
            </br>

            <div class="partes" id="parte_1">
                <h3 align="center"> Selecciona los agregados a mostrar </h3>
                <!--Caja de checkbox que te permite escoger los atributos para mostrar seguida de
                    una lista desplegable que permite seleccionar un agrupado.-->
                <div id="consulta-agrupados">
                    <fieldset id="ag" class="group-checkbox"> 
                        <ul class="checkbox"> 
                        {% for elem in lista_attos %}
                            <li>
                                <input class="seleccionados" id="attos{{ forloop.counter }}" name="attos-select" type="checkbox" value="{{ elem.0 }}" />
                                <label for="attos{{ forloop.counter }}"> {{ elem.0 }} </label>
                            </li>
                        {% endfor %}
                        </ul> 
                    </fieldset>
                    </br>
                    <div align="center">
                        <select id="agrupados" name="agrupado">
                            <option value="" selected> Campo a Agrupar </option>
                            {% for elem in lista_agrupados %}
                                <option id="agrupados{{ forloop.counter }}" value="{{ elem.0 }}"> {{ elem.0 }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            </br>
            <div class="partes" id="parte_2">
                <h3 align="center"> Selecciona las condiciones o limitantes </h3>
                <!--Lista desplegable que te permite escoger condiciones para limitar la consulta.
                    Funciona como una lista simple, pero puede usarse varias veces, ya que trabaja
                    con habilitar y deshabilitar elementos.-->
                <div align="center">
                    <select class="lista" id="conds" name="conds">
                        <option> Campos a condicionar </option>
                        {% for elem in lista_conds %}
                            <option id="{{ elem.2 }}" value="{{ elem.2 }}"> {{ elem.0 }} </option>
                        {% endfor %}
                    </select>
                </div>
                </br></br>

                <div class="form-group" id="ubicacion" name="ubicacion" hidden="true">
                    <label class="col-sm-2 control-label"> Ubicación Demográfica: </label>     
                    <div class="col-sm-9">
                        <select class="lista" id="prov" name="prov">
                            <option value="" selected> Provincia </option>
                            {% for provincia in provincias %}
                                <option value="{{ provincia.provincia }}"> {{ provincia.provincia }} </option>
                            {% endfor %}
                        </select>
                        <select class="lista" id="dist" name="dist">
                            <option value="" selected> Municipio (Seccion) </option>
                        </select>
                        <select class="lista" id="barr" name="barr">
                            <option value="" selected> Barrio </option>
                        </select>
                        <select class="lista" id="escs" name="escs" multiple>
                            <option class="primero_multiples" value="" selected disabled> Escuelas </option>
                        </select>
                    </div>
                    <!--<input class="btn btn-sm" id="agregar-otra-ubicacion" type="button" value="+"/>-->
                    <input class="btn btn-sm" id="eliminar-ubicacion" name="eliminar-ubicacion" type="button" value="-"/>
                    </br></br>
                </div> 

                <div class="form-group" id="dni-esp" name="dni-esp" hidden="true">
                    <label class="col-sm-2 control-label"> DNI Específico: </label>
                    <div class="col-sm-3">
                        <input class="form-control" id="dni" name="dni" type="text" placeholder="Número DNI" onKeyPress="return numeroEnteroPositivo(event)"/>
                    </div>
                    <input class="btn btn-sm" id="eliminar-dni-esp" name="eliminar-dni-esp" type="button" value="-"/>
                    </br></br>
                </div>

                <div class="form-group" id="nombre-completo" name="nombre-completo" hidden="true"> 
                    <label class="col-sm-2 control-label"> Nombre Completo Elector: </label>
                    <div class="col-sm-2"> 
                        <input class="form-control" id="nombre" name="nombre" type="text" placeholder="Nombre" onKeyPress="return soloLetras(event)" onblur="aMayusculas(this.value,this.id)"/>
                    </div>
                    <div class="col-sm-2">  
                        <input class="form-control" id="apellido" name="apellido" type="text" placeholder="Apellido" onKeyPress="return soloLetras(event)" onblur="aMayusculas(this.value,this.id)"/>
                    </div>
                    <input class="btn btn-sm" id="eliminar-nombre-completo" name="eliminar-nombre-completo" type="button" value="-"/>
                    </br></br>  
                </div>  

                <div class="form-group" id="genero" name="genero" hidden="true">  
                    <label class="col-sm-2 control-label"> Sexo: </label>
                    <div class="col-sm-2">
                        <select class="lista" id="sexo" name="sexo">
                            <option value="" selected> Sexo </option>
                            {% for gen in sexos %}
                                <option value="'{{ gen }}'"> {{ gen }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-sm" id="eliminar-genero" name="eliminar-genero" type="button" value="-"/>
                    </br></br>  
                </div> 

                <div class="form-group" id="nse-soc" name="nse-soc" hidden="true"> 
                    <label class="col-sm-2 control-label"> Estratos Socioeconómicos: </label>
                    <div class="col-sm-2">
                        <select class="lista" id="nse" name="nse" multiple>
                            <option class="primero_multiples" value="" selected disabled> NSE </option>
                            {% for estrato in nses %}
                                <option value="'{{ estrato }}'"> {{ estrato }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-sm" id="eliminar-nse-soc" name="eliminar-nse-soc" type="button" value="-"/>
                    </br></br>  
                </div>

                <div class="form-group" id="edad" name="edad" hidden="true"> 
                    <label class="col-sm-2 control-label"> Rango de Edad: </label>
                    <div class="col-sm-2">
                        <input class="form-control" id="minimo" name="minimo" type="text" placeholder="Mínimo" onKeyPress="return numeroEnteroPositivo(event)"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" id="maximo" name="maximo" type="text" placeholder="Máximo" onKeyPress="return numeroEnteroPositivo(event)"/>
                    </div>
                    <input class="btn btn-sm" id="eliminar-edad" name="eliminar-edad" type="button" value="-"/>
                    </br></br>
                </div> 

            </div>

            <div class="partes" id="parte_3">
        
                <div class="form-group" id="ordenar" name="ordenar">  
                    <label class="col-sm-2 control-label"> Establece un orden: </label>
                    <div class="col-sm-2">
                        <select class="lista" id="orden" name="orden">
                            <option value="" selected> Orden </option>
                            {% for o in ordenes %}
                                <option value="'{{ o }}'"> {{ o }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    </br></br>  
                </div> 

            </div>


            </br></br>
            <!--Boton Hacer consulta, que verifica que la consulta sea una consulta valida y la ejecuta.-->
            <div id="boton-continuar" align="center" >
                <input class="btn btn-primary" id="continuar" name="continuar" type="button" value="Hacer Consulta"/>
            </div>
            </br>

            <script>

                aplicarMultiselect('#agrupados');

                aplicarMultiselect('#conds');
                aplicarMultiselect('.lista');

                // Se ejecuta cada vez que se elige una opcion para condicionar la consulta.
                $('select#conds').on('change', deshabilitarOpcion);

                // Desabilita la opcion seleccionada y muestra los elementos para agregar 
                // las condiciones sobre esa opcion. Cuando el elemento es dinamico hay casos particulares.
                function deshabilitarOpcion() {
                    var op = $('#conds').val();
                    var msj = false;
                    var deshabilitadas = $('select#conds option:disabled').map(function(){return this.value}).get();
                    if (op == 'ubicacion') {
                        $('select#prov').on('change', obtenerPrimerosDistritos);
                        $('select#dist').on('change', obtenerPrimerosBarrios);
                        $('select#barr').on('change', obtenerPrimerasEscuelas);
                    }
                    if (msj == false) {
                        $('div#'+op).attr('hidden', false);
                        $('select#conds option:selected').attr('disabled', true);
                        $('select#conds option:first').attr('selected', 'selected');
                        $('select#conds').multiselect('refresh');
                        $('#eliminar-'+op).click(eliminarOpcion);
                    }
                }

                // Habilita nuevamente la opcion y oculta los elementos que agregan condiciones sobre esa opcion.
                function eliminarOpcion(){
                    var div_container = $(this).parent().attr("id");
                    $('div#'+div_container).attr('hidden', true);
                    var y = $('select#conds').find('option[value="'+div_container+'"]').attr('disabled', false);
                    $('select#conds').multiselect('refresh');
                }

                function obtenerPrimerosDistritos() {
                    var prov = $(this).val();
                    obtenerDistritos(prov,'dist','barr','escs');
                }

                function obtenerPrimerosBarrios() {
                    var prov = $('#prov').val();
                    var dist = $(this).val();
                    obtenerBarrios(prov,dist,'barr','escs');
                }

                function obtenerPrimerasEscuelas() {
                    var prov = $('#prov').val();
                    var dist = $('#dist').val();
                    var barr = $(this).val();
                    obtenerEscuelas(prov,dist,barr,'escs');
                }

                function obtenerDistritos(prov,id_dist,id_barr,id_escs) {
                    $.ajax({
                        data: {'prov': prov},
                        url: "{% url 'adc:busqueda_ajax_prov' %}",
                        type: 'get',
                        success: function(data){
                            var options = '<option value="" selected> Municipio (Seccion) </option>'
                            for (var i = 0; i < data.length; i++) {
                                options += '<option value="' + data[i].fields['distrito'] + '">' + data[i].fields['distrito'] + '</option>'; 
                            }
                            var options2 = '<option value="" selected> Barrio </option>'
                            var options3 = '<option class="primero_multiples" value="" selected disabled> Escuelas </option>'
                            $('select#'+id_dist).html(options);
                            aplicarMultiselect('select#'+id_dist);
                            $('select#'+id_dist).multiselect('rebuild');
                            $('select#'+id_barr).html(options2);
                            aplicarMultiselect('select#'+id_barr);
                            $('select#'+id_barr).multiselect('rebuild');
                            $('select#'+id_escs).html(options3);
                            aplicarMultiselect('select#'+id_escs);
                            $('select#'+id_escs).multiselect('rebuild');
                        }
                    });
                }

                function obtenerBarrios(prov,dist,id_barr,id_escs) {
                    $.ajax({
                        data: {'prov': prov, 'dist': dist},
                        url: "{% url 'adc:busqueda_ajax_dist' %}",
                        type: 'get',
                        success: function(data){
                            var options = '<option value="" selected> Barrio </option>'
                            for (var i = 0; i < data.length; i++) {
                                options += '<option value="' + data[i].fields['barrio'] + '">' + data[i].fields['barrio'] + '</option>';
                            }
                            var options2 = '<option class="primero_multiples" value="" selected disabled> Escuelas </option>'
                            $('select#'+id_barr).html(options);
                            aplicarMultiselect('select#'+id_barr);
                            $('select#'+id_barr).multiselect('rebuild');
                            $('select#'+id_escs).html(options2);
                            aplicarMultiselect('select#'+id_escs);
                            $('select#'+id_escs).multiselect('rebuild');
                        }
                    });
                }

                function obtenerEscuelas(prov,dist,barr,id_escs){
                    $.ajax({
                        data: {'prov': prov, 'dist': dist, 'barr': barr},
                        url: "{% url 'adc:busqueda_ajax_barr' %}",
                        type: 'get',
                        success: function(data){
                            var options = '<option class="primero_multiples" value="" selected disabled> Escuelas </option>'
                            for (var i = 0; i < data.length; i++) {
                                options += '<option value="' + data[i].fields['escuela'] + '">' + data[i].fields['escuela'] + '</option>';
                            }
                            $('select#'+id_escs).html(options);
                            aplicarMultiselect('select#'+id_escs);
                            $('select#'+id_escs).multiselect('rebuild');
                        }
                    });
                }

                $('#continuar').on('click', function() {
                    var op = $('select#agrupados').val();
                    if (op != "") {
                        $('#consulta_agrupados-form').submit();
                    } else {
                        alert('Se debe seleccionar un campo a agrupar.');
                    }
                });




            </script>

        </form>
    </div>

{% endblock %}
